@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,600&display=swap');

:root {
    --color: #6c5e7
}
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
body {
    overflow-x: hidden;
}
ul {
    list-style-type: none;
}
.heading {
    padding: 2rem 0 0 0;
    margin: 0;
    width: 100%;
    font-size: 3.5rem;
    color: black;
    text-align: center;
}
/*header Section styling Start*/
.header,.headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.headers {
    background-color: darkblue;
}
.header .logo,
.headers .logo {
    font-size: 2.5rem;
    color: #fff;
}
.header .logo i,
.headers .logo i {
    padding: 0 .5rem;
}
.header .navbar ul,
.headers .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header .navbar ul li,
.headers .navbar ul li {
    margin: 0 1.54rem;
}
.header .navbar ul li a,
.headers .navbar ul li a {
    font-size: 2rem;
    color: #fff;
}
.header .navbar ul li a:hover,
.headers .navbar ul li a:hover {
    color: #ccc;
}
.header .fa-bars,
.headers .fa-bars {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}
/*Header section styling end*/
/*main container section styling start*/
.indexContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    
}
/*Home section styling start*/
.home,
.homes {
    min-height: 80vh;
    width: 100%;
    background-image: url("image/backgrounds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0;
    overflow: hidden !important;
}

.homes {
    min-height: 45vh;
}


.home .banner,
.homes .banner {
    color: #fff;
    font-size: 5rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}
.home .slogan,
.homes .slogan {
    font-size: 2.5rem;
    color: #eee;
    font-weight: 400;
}
.home button {
    height: 4rem;
    width: 18rem;
    background-color: #fff;
    color: #444;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
}
.home button:hover {
    letter-spacing: .1rem;
}
/* home section styling end*/
/* about section style start*/
.about {
    width: 100%;
    padding: 0;
    margin: 0;
}
.about .aboutRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.4rem;
}
.aboutRow .aboutImage {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 0 3rem;
    margin: 0;
}
.aboutImage img{
    width: 60%;
    height: auto;
}
.aboutRow .aboutContent {
    width: 50%;
    height: auto;
}
.aboutRow .aboutContent h2 {
    padding-top: 0rem;
    font-size: 3rem;
    color: var(--color);
}

.aboutContent .content-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
}
.content-row .content-text {
    padding: 0 0 3rem 2rem;
}

.content-row .content-text h3 {
    font-size: 2.2rem;
}

.content-row .content-text p {
    font-size: 1.3rem;
}
/*about section styling end*/
/*service section styling start*/
.service {
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
}
.service-container {
    width: 100%;
    padding: 0 5rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: tomato;
}
.service-container .service-cart {
    width: 33.3%;
    padding: 2rem;
    text-align: center;
}
.service-cart .service-content {
    width: 100%;
    padding: 1.2rem;
    background: whitesmoke;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
}
.service-content img {
    width: 40%;
}
.service-content h4 {
    font-size: 2rem;
}
.service-content p {
    font-size: 1.3rem;
}
/*Service section styling end*/
/*my history section styling start*/
.myhisto {
    width: 100%;
    height: auto;
    background-image: url("image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.myhisto .row {
    width: 100%;
    height: auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 128, 0.432);
    color: tomato;
}

.myhisto .row .box {
    text-align: center;
}
.myhisto .row .box h1 {
    font-size: 6rem;
}
.myhisto .row .box p {
    font-size: 3rem;
}
/*my history section end*/



/*work process section styling start*/
ul {
    list-style-position: inside;
}
.workProcess{
    width: 100%;
    padding: 5rem;
}
.workProcess .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.row .proleft {
    width: 40%;
    text-align: center;
    padding: 2rem;
}
.proleft h1{
    font-size: 3.5rem;
}
.proleft p{
    font-size: 1.6rem;
}
.row .proright {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.proright .prbox {
    width: 100%;
    width: 33.3%;
    padding: 2rem;
    margin-top: 1rem;
}
.prcontent {
    width: 100%;
    padding: 10px;
    background-color: turquoise;
}
.prbox .prcontent h1 {
    margin: 0 auto;
    margin-top: -25%;
    width:fit-content;
    text-align: center;
    padding: 20px;
    border: 5px solid tomato;
    background-color: tomato;
    border-radius: 100%;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.5);
    font-size: 5rem;
}
.prbox .prcontent h3 {
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
}
.prbox .prcontent li{
    font-size: 1.6rem;
    padding-top: 5px;
}
/*website feature section styling end*/
/* website feature section styling start*/
.webFeature {
    width: 100%;
    margin: 0;
    padding: 0;
}

.webFeature .row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 5rem;
    align-items: center;
    justify-content: space-around;
}

.row .webfbox {
    width: 50%;
    padding: 2rem 3rem;
}

.webfbox h3 {
    font-size: 2rem;
}

.webfbox p {
    font-size: 1.5rem;
}

/* web feature section styling end*/
/*website type section styling start*/
.websiteType {
    width: 100%;
    padding: 5rem;
    background: tomato;
}

.websiteType .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.websiteType .row .webcart {
    width: 33.3%;
    padding: 2rem;
    text-align: center;
}

.webcart .webbox {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.webcart .webbox1 {
    background-image: url("image/siteimage/5.jpg");
}

.webcart .webbox2 {
    background-image: url("image/siteimage/3.png");
}
.webcart .webbox3 {
    background-image: url("image/siteimage/1.png");
}
.webcart .webbox4 {
    background-image: url("image/siteimage/6.jpg");
}
.webcart .webbox5 {
    background-image: url("image/siteimage/2.png");
}
.webcart .webbox6 {
    background-image: url("image/siteimage/4.png");
}
.webcart .webbox1 h3,
.webcart .webbox2 h3,
.webcart .webbox3 h3,
.webcart .webbox4 h3,
.webcart .webbox5 h3,
.webcart .webbox6 h3 {
    width: 100%;
    font-size: 2rem;
    padding: 10px 0;
    background: rgba(8, 8, 8, 0.575);
    color: tomato;
}
/*website type section styling end*/

/*Footer section styling start*/
.footer {
    width: 100%;
    height: auto;
}
.footer .row {
    width: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: row;
    background: #010546;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footerbox {
    width: 25%;
    padding: 1rem;
}
.footerbox h3 {
    font-size: 2.3rem;
    color: white;
}
.footerbox p {
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
    color: white;
}
.mainFooter {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background: black;
}
.mainFooter p {
    font-size: 1.5rem;
}
.mainFooter a {
    font-size: 1.5rem;
}
/*footer section styling end*/











/*media query*/
@media screen and (max-width:768px) {
    html {
        font-size: 50%;
    }
    .heading {
        padding: 1.5rem 0;
        margin: 0;
        width: 100%;
        font-size: 2.5rem;
        color: black;
        text-align: center;
    }
    .header .fa-bars,
    .headers .fa-bars {
        display: block;
    }
    .header .navbar,
    .headers .navbar {
        position: fixed;
        top: -120%;
        left: 0;
        height: auto;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
    .header .navbar ul,
    .headers .navbar ul {
        height: 100%;
        width: 100%;
        flex-flow: column;
    }
    .header .navbar ul li,
    .headers .navbar ul li {
        margin: 1rem 0;
    }
    .header .navbar ul li a,
    .headers .navbar ul li a {
        color: #444;
        font-size: 2.4rem;
    }
    .header .nav-toggle,
    .headers .nav-toggle {
        top: 5.8rem;
    }
    .home .banner {
        font-size: 4rem;
    }
    .home .slogan {
        font-size: 2rem;
    }
    .aboutRow .aboutImage {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0;
    }
    .aboutRow .aboutContent {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .service-container{
        padding: 0;
    }
    .service-container .service-cart {
        width: 50%;
        padding: 2rem;
        text-align: center;
    }
    .workProcess .row{
        flex-direction: column;
    }
    .row .proleft {
        width: 100%;
        
    }

    .row .proright {
        width: 100%;
    }

    .proright .prbox {
        width: 100%;
        width: 50%;
        padding: 1rem;
        margin-top: 1rem;
    }
    .websiteType .row .webcart {
        width: 50%;
        padding: 2rem;
        text-align: center;
    }
     .footerbox {
         width: 50%;
         padding: 1rem;
     }
  
}




@media screen and (max-width:420px) {
    .service-container .service-cart {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
    .myhisto .row {
        flex-direction: column;
    }
    .myhisto .row .box {
        text-align: center;
        padding: 2rem;
    }
    .row .proright {
        width: 100%;
    }

    .proright .prbox {
        width: 100%;
        width: 100%;
        padding: 1rem;
        margin-top: 3rem;
    }
    .prbox .prcontent h1 {
        margin-top: -15%;
        font-size: 2rem;
    }
    .row .webfbox {
        width: 100%;
        padding: 2rem 1rem;
        text-align: center;
    }
    .websiteType .row .webcart {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
     .footerbox {
         width: 100%;
         padding: 1rem;
         text-align: center;
     }
      .mainFooter {
          flex-direction: column;
          text-align: center;
          justify-content: center;
      }

}