@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,600&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

.heading {
    padding: 2rem 0 0 0;
    margin: 0;
    width: 100%;
    font-size: 3.5rem;
    color: black;
    text-align: center;
}

/*header Section styling Start*/
.header,
.headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.headers {
    background-color: white;
}

.header .logo,
.headers .logo {
    font-size: 3rem;
    color: tomato;
}

.header .logo i,
.headers .logo i {
    padding: 0 .5rem;
}

.header .navbar ul,
.headers .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar ul li,
.headers .navbar ul li {
    margin: 0 1.54rem;
}

.header .navbar ul li a {
    font-size: 2rem;
    color: white;
}
.headers .navbar ul li a{
    font-size: 2rem;
    color: black;
}
.header .navbar ul li a:hover,
.headers .navbar ul li a:hover {
    color: white;
    background-color: coral;
    padding: .5rem 1.5rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
}

.header .fa-bars,
.headers .fa-bars {
    color: white;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

/*Header section styling end*/
/*main container section styling start*/
.indexContainer {
    display: grid;
    grid-template-columns: 1fr;

}

/*Home section styling start*/
.home,
.homes {
    min-height: 80vh;
    width: 100%;
    background-image: url("image/backgrounds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0;
    overflow: hidden !important;
}

.homes {
    min-height: 45vh;
}


.home .banner,
.homes .banner {
    color: #fff;
    font-size: 5rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    letter-spacing: .2rem;
}

.home .slogan{
    font-size: 2rem;
    color: #eee;
    font-weight: 400;
    width: 60%;
}
.homes .slogans{
    padding: 1rem;
    font-size: 1.6rem;
    color: white;
    font-weight: lighter;
}
.home button {

    height: 4rem;
    width: 18rem;
    background-color: royalblue;
    color: #444;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.home button a {
    color: white;
}

.home button:hover {
    letter-spacing: .1rem;
    background-color: coral;
}

.home button:hover a {
    color: white;
}

/* home section styling end*/
/* about section style start*/
.about {
    width: 100%;
    padding: 0;
    margin: 0;
}

.about .aboutRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.4rem;
}

.aboutRow .aboutImage {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 0 3rem;
    margin: 0;
}

.aboutImage img {
    width: 60%;
    height: auto;
}

.aboutRow .aboutContent {
    width: 50%;
    height: auto;
}

.aboutRow .aboutContent h2 {
    padding-top: 0rem;
    font-size: 3rem;
    color: coral;
}

.aboutContent .content-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
}

.content-row .content-text {
    padding: 0rem 5rem 1rem 0rem;
}

.content-row .content-text h1 {
    font-size: 2rem;
    color: coral;
}

.content-row .content-text h3 {
    font-size: 1.8rem;
}

.content-row .content-text p {
    font-size: 1.4rem;
}

/*about section styling end*/
/*service section styling start*/
.service {
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
}

.service-container {
    width: 100%;
    padding: 0 5rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f7fc;
}

.service-container .service-cart {
    width: 33.3%;
    padding: 2rem;
    text-align: center;
}

.service-cart .service-content {
    width: 100%;
    padding: 1.2rem;
    color: black;
    background-color: white;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    transition: all .5s;
}

.service-cart .service-content:hover {
    margin-top: -1rem;
    background-color: coral;
    color: white;
}
.service-cart .service-content:hover h4{
    color:black;
}
.service-content img {
    width: 40%;
    transition: all 0.5s;
}

.service-content h4 {
    font-size: 1.8rem;
}

.service-content p {
    font-size: 1.4rem;
}

/* service power section styling start*/
.servicePower {
    width: 100%;
}

.servicePower .spContainer {
    width: 100%;
    background-image: url("image/bbb.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.servicePower .spContainer .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.spContainer .row .spCart {
    width: 33.3%;
}

.spCart .row {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.spfCart .spfBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    padding: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.spfCart .spfBox .spfContent {
    padding: 1rem;
}

.spfCart .spfBox h3 {
    font-size: 1.8rem;
}

.spfCart .spfBox p {
    font-size: 1.4rem;
}

/*Service power section styling end*/
/*my history section styling start*/
.myhisto {
    width: 100%;
    height: auto;
    background-image: url("image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.myhisto .row {
    width: 100%;
    height: auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 128, 0.432);
    color: coral;
}

.myhisto .row .box {
    text-align: center;
}

.myhisto .row .box h1 {
    font-size: 6rem;
}

.myhisto .row .box p {
    font-size: 3rem;
}

/*my history section end*/



/*work process section styling start*/
.workprocess {
    width: 100%;
    padding: 2rem 2rem 2rem 12rem;
}

.workprocess .heading {
    padding-bottom: 5rem;

}

.workprocess .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row .wpcart {
    width: 25%;
    background-image: url("arr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.row .wpcart:last-child {
    background: none;
}

.workprocess .row .wpbox {
    width: 100%;
    padding: 0rem;
}

.wpbox .wpcontent {
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 50%;
    border: .8rem solid coral;
    padding: 10px;
}

.wpbox .wpcontent h1 {
    margin: 0 auto;
    margin-top: -3.5rem;
    width: 50px;
    height: 50px;
    background-color: coral;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;
}

.wpbox .wpcontent .wpcdisc {
    padding-top: 20px;
}

.wpbox .wpcontent .wpcdisc h3 {
    font-size: 1.8rem;
}

.wpbox .wpcontent .wpcdisc ul {
    list-style-type: none;
}

.wpbox .wpcontent .wpcdisc ul li {
    font-size: 1.2rem;
}

/*  Work process section styling end*/

/*using service tool section styling start*/
.serviceTools {
    width: 100%;
    height: auto;
}

.servicebox .item img {
    width: 60%;
}

/*using service tool section styling start*/
/*web hosting plan section styling start*/
.hostingPlan{
    width: 100%;
}
.hostingPlan .hpContainer{
    width: 100%;
}
.hostingPlan .hpContainer .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10rem 0 5rem 0;
}
.hpContainer .row .hpCart {
    width: 25%;
}
.hpContainer .row .hpCart .hpcolorcart {
    margin-top: -10rem;
    background-color: coral;
}

.hpContainer .row .hpCart:hover {
    margin-top: -10rem;
}

.hpContainer .row .hpCart .hpcolorcart:hover {
    background-color: white;
    margin-top: 0rem;
}
.hpContainer .row .hpCart .hpContent{
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
.hpContainer .row .hpCart .hpContent .hpHeading{
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-bottom: 2px solid black;
    
}
.hpContainer .row .hpCart .hpContent .hpHeading bdo {
    font-size: 1.4rem;
    
}
.hpContainer .row .hpCart .hpContent .hpHeading h3{
    font-size: 2.5rem;
    letter-spacing: .2rem;
    padding: .5rem;
    font-weight: bold;
}
.hpCart .hpContent .hpBody{
    width: 100%;
    padding: 10px;
}
.hpCart .hpContent .hpBody ul{
    padding: 1fr;
}
.hpCart .hpContent .hpBody ul li{
    font-size: 1.4rem;
    padding: 1rem .5rem .5rem 5rem;
}
.hpCart .hpContent .hpBody ul .timage{
    background-image: url("image/logo/true.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-y:center;
}
.hpCart .hpContent .hpBody ul .fimage {
    background-image: url("image/logo/cross.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: center;
}
.hpCart .hpContent .button{
    padding: 2rem 0;
    text-align: center;
}
.hpCart .hpContent .button button{
    padding: 1rem 2.5rem;
    background-color: royalblue;
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;

}
.hpCart .hpContent .button button:hover {
    background-color: coral;
    
}
.hpCart .hpContent .button button a{
    color: white;
}
.hpCart .hpContent .button button:hover a {
    letter-spacing: .2rem;
}
/*web hosting plan styling end*/
/*faq section styling start*/
.faq {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 2rem;
}

.faq .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.faq .row .image img {
    height: auto;
    width: 80%;
}

.faq .row .accordion-container {
    width: 50%;
    text-align: left;
}

.faq .row .accordion-container .accordion .accordion-header {
    background-color: blue;
    margin: 1rem 0;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.faq .row .accordion-container .accordion .accordion-header span {
    display: inline-block;
    text-align: center;
    height: 4rem;
    width: 5rem;
    line-height: 4rem;
    font-size: 2rem;
    background: white;
    color: gray;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.faq .row .accordion-container .accordion .accordion-header h3 {
    display: inline;
    color: #fff;
    font-weight: 400;
    padding-left: 5rem;
    font-size: 1.5rem;

}

.faq .row .accordion-container .accordion .accordion-body {
    padding: 1rem;
    color: #444;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    display: none;
}

.faq .row .accordion-container .accordion:nth-child(1) .accordion-body {
    display: block;
}

/*faq section styling end*/
/*tesstimonial section styling start*/
.testimonial {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5rem 2rem 2rem 2rem;
    background-image: url('image/backgroundc.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.testimonial .row .testicontent {
    width: 50%;
    padding: 2rem;

}


.testimonial .row .testicontent .peopleprofile {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial .row .testicontent .peopleprofile img {
    border-radius: 50%;
}

.testimonial .row .testicontent p {
    font-size: 1.6rem;
}

.testimonial .row .testicontent h4 {
    font-size: 1.4rem;
}

.testimonial .row .testicontent bdo {
    font-size: 1.2rem;
}

/*testimonial section styling end*/
/*Footer section styling start*/
.footer {
    width: 100%;
    height: auto;
    background-image: url("image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .row {
    width: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footerbox {
    width: 25%;
    padding: 1rem;
}

.footerbox h3 {
    font-size: 2.3rem;
    color: white;
    padding-bottom: 1.5rem;
}

.footerbox p {
    font-size: 1.6rem;
    padding-bottom: .5rem;
    color: whitesmoke;
}
.footerbox p a{
    color: white;
}
.mainFooter p a{
    padding-right: 1.2rem;
}
.mainFooter p img{
    width: 2.2rem;
}
.mainFooter {
    width: 100%;
    padding: 1rem;
    
    color:whitesmoke;
    background: black;
}
.mainFooter .mfsocial{
    float: right;
}
.mainFooter p {
    font-size: 1.5rem;
}

.mainFooter a {
    font-size: 1.5rem;
}

/*footer section styling end*/
/*       ***Contact Page styling start***     */
.contactType .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactType .row .contactCart {
    width: 33.3%;
    padding: 2rem;
}

.contactType .row .contactCart .contactBox {
    padding: 1rem;
    text-align: center;
}

.contactType .row .contactCart .cb1 {
    background-color: rgb(54, 180, 206);
}

.contactType .row .contactCart .cb2 {
    background-color: rgb(253, 180, 78);
}

.contactType .row .contactCart .cb3 {
    background-color: rgb(255, 114, 111);
}

.contactType .row .contactCart .contactBox img {
    width: 25%;
}

.contactType .row .contactCart .contactBox h3 {
    font-size: 1.8rem;
}

.contactType .row .contactCart .contactBox p {
    font-size: 1.4em;
}

/*contact About section styling start*/
.contactAbout {
    width: 100%;
    padding: 1rem 5rem;
    margin: 3rem 0;
}

.contactAbout .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactAbout .row .image,
.contactAbout .row .content {

    width: 50%;
}

.contactAbout .row .image {
    text-align: right;
    z-index: 10;
}

.contactAbout .row .image img {
    width: 80%;
    border-radius: 20px;
}

.contactAbout .row .content {
    background-color: coral;
    margin-top: 30px;
    margin-left: -8rem;
    margin-bottom: -30px;
    padding-left: 10rem;
    border-radius: 20px;

}

.contactAbout .row .content h3 {
    font-size: 2rem;
    padding: 2rem 0;
}

.contactAbout .row .content p {
    font-size: 1.4rem;
}

.contactAbout .row .content p:last-child {
    width: fit-content;
    background-color: royalblue;
    padding: 1rem 2rem;
    color: white;
    margin-top: 10rem;
    border-radius: 2rem;
    letter-spacing: .5rem;
    font-weight: bold;
}

/*contact about section styling end*/
/*contact social connect section styling start*/
.contactSocial {
    width: 100%;
}

.contactSocial .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contactSocial .row .email {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    letter-spacing: .2rem;
    border-radius: 20px;
}

.contactSocial .row .social {
    padding: 1rem;
}

.contactSocial .row .social a {
    padding: 1rem;
}

.contactSocial .row .social a img {
    width: 30px;

}

/*contact social connect section styling end*/
/*contact section styling Start*/
.contactVisit {
    width: 100%;
    display: inline-block;
    position: relative;
}

.contactVisit .formContainer h2 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
}

.contactVisit .formContainer {
    height: auto;
    width: 350px;
    background-color: coral;
    padding: 0 1rem 1rem 1rem;
    position: absolute;
    display: block;
    z-index: 50;
    right: 5rem;
    top: 2rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.3);
}

.contactVisit .formContainer .formGroup {
    width: 100%;
    padding: .5rem;
}

.contactVisit .formContainer .formGroup label {
    font-size: 1.8rem;
    padding-bottom: .2rem;
}

.contactVisit .formContainer .formGroup input,
.contactVisit .formContainer .formGroup textarea {
    width: 100%;
    padding: .5rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
}

.contactVisit .formContainer button,
.sdmContainer .row .sdmLeft button,
.serviceOffer .row .socart button {
    margin-top: .5rem;
    padding: .5rem 2rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}

.contactVisit .map {
    width: 100%;
    position: relative;
    display: block;
    margin: 0;
    padding: 0rem 0;
}

/*contact section styling end*/
/*  *Contact page Styling End* */
/*   ***Company Menu page styling start***   */
.indexContainer .companyDetail {
    width: 100%;
    padding: 2rem;
    
}

.companyDetail .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.companyDetail .row .cdLeft {
    width: 60%;
    padding: 1rem;
}

.companyDetail .row .cdLeft h1 {
    font-size: 2rem;
    padding: 1rem 0;
}

.companyDetail .row .cdLeft p {
    font-size: 1.6rem;
}

.companyDetail .row .cdRight {
    width: 40%;
    padding: 0;
    margin-top: -100px;
}

.companyDetail .row .cdRight img {
    width: 100%;
}

.companyTeam {
    width: 100%;
    padding: 5rem;

}
.companyTeam .desc{
    font-size: 1.4rem;
    text-align: center;
}

.companyTeam .ctContainer .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.ctContainer .row .ctCart {
    width: 33%;
    padding: 2rem;
    text-align: center;

}
.ctContainer .row .ctCart .box1{
        box-shadow: 0 .2rem .3rem rgb(0, 0, 0.3);
        border-radius: 2rem;
        padding-bottom: 2rem;
}
.ctContainer .row .ctCart .box1 img {
    width:100% ;
    height: auto;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.ctContainer .row .ctCart .box1 h1{
    font-size: 1.8rem;
    padding-top: 1.5rem;
}
.ctContainer .row .ctCart .box1 bdo{
    font-size: 1.4rem;
    padding-bottom: 2rem;
}
.companyWork {
    width: 100%;

}

.companyWork .row {
    padding: 3rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.companyWork .row img {
    width: 33.3%;
    height: 300px;
}

/*   ***companym Menu page styling end***  */
/*Service menu page styling start*/

/*Service menu page styling end*/
.serviceOffer {
    width: 100%;

}

.serviceOffer .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.serviceOffer .row .socart {
    width: 30%;
    text-align: center;
}

.serviceOffer .row .socart img {
    width: 100%;
}

.serviceOffer .row .socart p {
    font-size: 1.4rem;
    padding: 0.5rem;
}

.serviceDigitalMarketing {
    width: 100%;
}

.sdmContainer {
    width: 100%;
    background-color: #f7f7fc;
}

.sdmContainer .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sdmContainer .row .sdmLeft {
    width: 40%;
    text-align: center;
    align-self: center;
    padding: 5rem;
}

.sdmContainer .row .sdmLeft h3 {
    font-size: 2.2rem;
}

.sdmContainer .row .sdmLeft p {
    font-size: 1.4rem;
}

.sdmContainer .row .sdmRight {
    width: 60%;

}

.sdmRight .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0rem;
}

.sdmRight .row .sdmbox {
    width: 50%;
    padding: 1rem;
}
.sdmRight .row .sdmbox .sdmContent{
    background-color: white;
    padding: 1rem;
}
.sdmRight .row .sdmbox h1 {
    font-size: 1.8rem;
}

.sdmRight .row .sdmbox p {
    font-size: 1.4rem;
}

/*media query*/
@media screen and (max-width:768px) {
    html {
        font-size: 50%;
    }

    .heading {
        padding: 1.5rem 0;
        margin: 0;
        width: 100%;
        font-size: 2.5rem;
        color: black;
        text-align: center;
    }

    .header .fa-bars,
    .headers .fa-bars {
        display: block;
    }

    .header .navbar,
    .headers .navbar {
        position: fixed;
        top: -100%;
        left: 0;
        height: auto;
        width: 100%;
        background-color: tomato;
        z-index: 1000;
        overflow: hidden;
    }

    .header .navbar ul,
    .headers .navbar ul {
        height: 100%;
        width: 100%;
        flex-flow: column;
        margin: 0;
    }

    .header .navbar ul li,
    .headers .navbar ul li {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        border-bottom: 2px solid whitesmoke;

    }

    .header .navbar ul li:last-child,
    .headers .navbar ul li:last-child     {
        border-bottom: none;
    }

    .header .navbar ul li:hover {
        background-color: coral;
    }

    .header .navbar ul li a,
    .headers .navbar ul li a {
        color: black;
        font-size: 2.4rem;
    }
.header .navbar ul li a:hover,
.headers .navbar ul li a:hover {
    color: white;
    background-color: coral;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
}
    .header .fa-times {
        transform: rotate(180deg);
    }

    .header .nav-toggle,
    .headers .nav-toggle {
        top: 5.8rem;
    }

    .home .banner {
        font-size: 4rem;
    }

    .home .slogan {
        font-size: 2rem;
    }

    .aboutRow .aboutImage {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .aboutRow .aboutContent {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .service-container {
        padding: 0;
    }

    .service-container .service-cart {
        width: 50%;
        padding: 2rem;
        text-align: center;
    }

    .workProcess .row {
        flex-direction: column;
    }

    .row .proleft {
        width: 100%;

    }

    .row .proright {
        width: 100%;
    }

    .proright .prbox {
        width: 100%;
        width: 50%;
        padding: 1rem;
        margin-top: 1rem;
    }

    .websiteType .row .webcart {
        width: 50%;
        padding: 2rem;
        text-align: center;
    }

    .faq .row {
        flex-direction: column;
    }

    .faq .row .accordion-container {
        width: 100%;
        text-align: left;
    }

    .footerbox {
        width: 50%;
        padding: 1rem;
    }

    /*contact page responsive start*/
    .companyDetail .row .cdLeft,
    .companyDetail .row .cdRight {
        width: 100%;
        margin: 0;
    }

    .contactType .row .contactCart {
        width: 50%;
        padding: 2rem;
    }

    /*contact page responsive end*/
    /*service menu page responsive start*/
    .serviceOffer .row .socart {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .sdmContainer .row .sdmLeft,
    .sdmContainer .row .sdmRight {
        width: 100%;
    }
    
    /*work process responsive styling start*/
    .workprocess {
        padding: 0;
    }

    .row .wpcart {
        width: 50%;
        background: none;
    }
}






@media screen and (max-width:420px) {
    .header .logo,
    .headers .logo {
        font-size: 2.5rem;
        color: tomato;
    }
    .service-container .service-cart {
        width: 100%;
        padding: 1rem 6rem;
        text-align: center;
    }
    .service-cart .service-content {
        background-color: #f7f7fc;
        box-shadow: none;
    }
    .servicePower .spContainer{
        background-image: none;
        padding: 1rem 3rem ;
    }
    .spimage{
        display: none;
    }
    .spfCart .spfBox{
        margin: 1rem 0;
        box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
        
    }
    .spContainer .row .spCart {
        width: 100%;
    }
    .spCart .row{
        padding: 0 2rem;
    }
    .myhisto .row {
        flex-direction: column;
    }

    .myhisto .row .box {
        text-align: center;
        padding: 2rem;
    }
    /*Hosting Plan mobile responsive*/
    .hpContainer{
        padding: 0 20px;

    }
    .hpContainer .row .hpCart {
        width: 100%;
        padding: 1.5rem;
    }

    .hpContainer .row .hpcolorcart {
        margin: 0;
    }

    .hpContainer .row .hpCart .hpContent {
        box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
        margin-top: 1rem;
    }
    .row .proright {
        width: 100%;
    }

    .proright .prbox {
        width: 100%;
        width: 100%;
        padding: 1rem;
        margin-top: 3rem;
    }

    .prbox .prcontent h1 {
        margin-top: -15%;
        font-size: 2rem;
    }

    .row .webfbox {
        width: 100%;
        padding: 2rem 1rem;
        text-align: center;
    }

    .websiteType .row .webcart {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .testimonial .row .testicontent {
        width: 100%;
    }

    .footerbox {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .mainFooter {
       text-align: center;
    }
    .mainFooter .mfsocial {
        float:none;
    }
    /*contact page responsive start*/
    .contactType .row .contactCart {
        width: 100%;
        padding: 2rem;
    }

    .contactVisit .formContainer {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }

    .contactAbout .row .image,
    .contactAbout .row .content {
        width: 100%;
        text-align: center;
    }

    /*Company Menu page responsive start*/
    .companyDetail .row .cdLeft,
    .companyDetail .row .cdRight {
        width: 100%;
        margin: 0;
    }

    .ctContainer .row {
        flex-direction: column;
    }

    .ctContainer .row .ctCart {
        width: 100%;
    }

    .companyWork .row img {
        flex-direction: column;
        width: 100%;
        height: 300px;
    }

    /*service menu page responsive start*/
    .serviceOffer .row .socart {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .sdmContainer .row .sdmLeft,
    .sdmContainer .row .sdmRight {
        width: 100%;
    }

    .sdmRight .row .sdmbox {
        width: 100%;
    }

    /*work process responsive styling start*/
    .row .wpcart {
        width: 100%;
        background-image: none;

    }
    .servicePower .spContainer .row {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .wpbox .wpcontent {
        margin: 0 auto;
    }
    /*contact page mobile responsive start*/
    .contactAbout .row .content{
        margin: 1rem 0;
        padding: 1rem;
    }
    .contactAbout .row .content p:last-child{
        text-align: center;
        width: 100%;
    }
    .contactSocial .row .email{
        margin-bottom: 1rem;
    }
}